<div{{attributes}} class="filter-buttons">

		<details class="dropdown" data-action="live#emit" data-event="showFilter">
			<summary>
				{% if searchDto.minPrice and searchDto.maxPrice is null %}
					min
					{{ searchDto.minPrice }}€
				{% elseif searchDto.maxPrice and searchDto.minPrice is null %}
					{{ searchDto.maxPrice }}€ max
				{% elseif searchDto.maxPrice and searchDto.minPrice %}
					{{ searchDto.minPrice }}
					-
					{{ searchDto.maxPrice }}€
				{% else %}
					Prix
				{% endif %}
			</summary>
		</details>
		<details class="dropdown" data-action="live#emit" data-event="showFilter">
			<summary>
				Filtres
			</summary>
		</details>
</div>
